extends layout

block content

    h3 #[strong Developer Name: ] !{developer.name}
    p #[strong Publisher: ] !{developer.publisher.name}
    p #[strong Location: ]  !{developer.location}
    p #[strong Date of Foundation: ] !{developer.date_of_foundation_formatted}
    p #[strong Date of Closing: ] !{developer.date_of_closing_formatted}

    if all_games.length > 0
        each games in all_games
            li 
                a(href=`${games.url}`) !{games.title} 


    else
        p There are no games. 


    a(href=developer.url+"/delete") Delete Developer
    a(href=developer.url+"/update") Update Developer
