extends layout

block content 

    h3 Create Publisher: 

    form(method="POST") 
        div.form-group
            label(for="developer_name").form-label #[strong Name: ]
            input(type="text" id= "developer_name", name="developer_name", value=(undefined === developer ? "" : developer.name) required).form-control

        div.form-group
            label(for="developer_publisher").form-label #[strong Publisher: ]
            select#developer_publisher(name="developer_publisher").form-control
                each publisher, index in list_publishers
                    if developer
                            if publisher._id.toString() === developer.publisher._id.toString()
                                option(value=publisher.id selected) !{publisher.name}
                            else 
                                option(value=publisher.id) !{publisher.name}
                    else
                        option(value=publisher.id) !{publisher.name} 

        div.form-group
            label(for="developer_location").form-label #[strong Location: ]
            input(type="text", id="developer_location", name="developer_location" value=(undefined === developer ? "" : developer.location ) required).form-control

        div.form-group
            label(for="developer_date_of_foundation").form-label #[strong Date of Foundation: ]
            input(type="date", id="developer_date_of_foundation", name="developer_date_of_foundation" value=(undefined === developer ? "" : developer.date_of_foundation_default) required).form-control 

        div.form-group
            label(for="developer_date_of_closing").form-label #[strong Date of Closing: ]
            input(type="date", id="developer_date_of_closing", name="developer_date_of_closing" value=(undefined === developer ? "" : developer.date_of_closing_default)).form-control


        if developer
            div.form-group
            label(for="master_password").form-label #[strong Password: ]
            input(type="password" id="master_password" name="master_password").form-control

        div.form-group
        button(type="submit").btn.btn-primary Submit


        if errors 
            each error in errors 
                div.alert.alert-danger(role = "alert")
                    p !{error.msg}