
extends layout 

block content 


    form(method= "POST" enctype="multipart/form-data")
        div.form-group
             label(for="game_title").form-label #[strong Game Title: ]
             input(type= "text", id="game_title" name= "game_title" value=(undefined===game ? "" : game.title) required).form-control
        div.form-group
            label(for="game_developer").form-label #[strong Developer: ]
            select#game_developer.form-control(name="game_developer",)
                for developer in list_developers
                    if game
                            if developer._id.toString() === game.developer._id.toString()
                                option(value = developer._id selected) #{developer.name}
                            else
                                option(value = developer._id) #{developer.name}
                        
                    else 
                            option(value = developer._id) #{developer.name}

        div.form-group
            label(for="game_publisher").form-label #[strong Publisher: ]
            select#game_publisher.form-control(name="game_publisher")
                for publisher in list_publishers
                    if game
                            if publisher._id.toString() === game.publisher._id.toString()
                                option(value = publisher._id selected) #{publisher.name}
                            else
                                option(value = publisher._id) #{publisher.name}
                        
                    else 
                            option(value = publisher._id) #{publisher.name}

        div.form-group
            label(for="game_summary").form-label #[strong Summary: ]
                if game
                     textarea.form-control(id= "game_summary" rows= 3 name= "game_summary" required) !{game.summary}
                else
                    textarea.form-control(id= "game_summary" rows= 3 name= "game_summary" required) 


        div.form-group
            label(for= "game_esrb_rating").form-label #[strong ESRB Rating: ] 
            input(type= "text", id="game_esrb_rating" name= "game_esrb_rating" value=(undefined===game ? "" : game.esrb_rating)).form-control

        div.form-group
            label(for="game_release_date").form-label #[strong Date of Release: ]
            input(type= "date", id="game_release_date" name= "game_release_date" value=(undefined === game ? "" : game.date_of_release_default ) required).form-control

        div.form-group
            div.form-check.form-check
                
                    for platform, index in list_platforms
                            if platform.checked
                                label.form-check-label(for= platform._id)  !{platform.name}
                                input.form-check-input(type="checkbox" id= platform._id value= platform._id name="game_platform" checked)
                            
                            else 
                                label.form-check-label(for= platform._id)  !{platform.name}
                                input.form-check-input(type="checkbox" id= platform._id value= platform._id name="game_platform" )

        div.form-group
            div.form-check.form-check
                
                    for genre, index in list_genres
                            if  genre.checked 
                                label.form-check-label(for= genre._id) !{genre.name}
                                input.form-check-input(type="checkbox" id= genre._id value= genre._id name= "game_genre" checked )

                            else 
                                label.form-check-label(for= genre._id) !{genre.name}
                                input.form-check-input(type="checkbox" id= genre._id value= genre._id name= "game_genre" )

        div.form-group
        label(for="game_image_cover").form-label   
        input(type="file" name= "game_image_cover" id= "game_image_cover").form-control

        div.form-group
            label(for="master_password").form-label #[strong Password: ]
            input(type="password" id="master_password" name="master_password").form-control

        div.form-group
        button(type="submit").btn.btn-primary Submit


        if errors 
            each error in errors 
                div.alert.alert-danger(role = "alert")
                    p !{error.msg}




            