extends layout

block content

    h3 #[strong Id: ] !{gameinstance.id}

    p #[strong Game: ]  
        a(href=`${gameinstance.game.url}`)  !{gameinstance.game.title}
    p #[strong Platform: ]  !{gameinstance.platform}
    p #[strong Status: ] !{gameinstance.status}
    p #[strong Due Back: ] !{gameinstance.due_back_formatted}

    a(href=gameinstance.url+"/delete") Delete GameInstance
    a(href=gameinstance.url+"/update") Update GameInstance  

   


