extends layout

block content

    h3 #[strong Genre Name: ] !{genre.name}
    
    if all_games.length > 0 
        ul
            each game in all_games
                li 
                    a(href=`${game.url}`) !{game.title}


    
        


    else
        p There are no genres. 


    div 
            a(href=genre.url+'/delete') Delete Genre
            a(href=genre.url+"/update") Update Genre 

