extends layout

block content
  h1= title
  p Welcome to #{title}


  ul
    li Number of games: !{num_games}
    li Number of publishers: !{num_publishers}
    li Number of developers: !{num_developers}
    li Number of genres: !{num_genres}
    li Number of gameinstances: !{num_gameinstances}
