extend layout 

block content

    h3 #[strong Publisher Title: ] !{publisher.name}
    p #[strong Location: ]  !{publisher.location}
    p #[strong Date of Foundation: ] !{publisher.date_of_foundation}
    p #[strong Date of Closing: ] !{publisher.date_of_closing}

    if all_games.length > 0 
        each game in all_games
            a(href=`${game.url}`) !{game.title} 


    else
        p There are no games. 